<div class="jumbotron cookie_body">

  <h2>Send a message</h2>
  <br>

  <div class="form-container">
    <form class="form">
      <div class="form-group">
        <label for="groupName">Subject</label>
        <input type="text" id="subject" class="form-control" ng-model="newMessage.subject"/>
      </div>
      <div class="form-group">
        <label for="type">Content</label>
        <input type="text" id="type" class="form-control" ng-model="newMessage.content"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Send</button></a>
      </div>
    </form>
  </div>

</div>