<div class="jumbotron">
  <div class= "cookie_body">
    <h2>Customer Admin Panel</h2>
    <br>
    <a ng-href="/createCustomer"><button type="submit" class="btn btn-primary">Create Customer</button></a>
    <br>

    <p>Search for Customers</p>

    <form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="customerSearch.name">
      </div>
      <button type="submit" class="btn btn-default" ng-click="searchAllCustomer()">Search</button>
    </form>

    <div ng-show="errorCustomerSearch" class="alert alert-danger">{{errorMessageCustomerSearch}}</div>
    <div ng-show="searchedCustomer">
      <h2>Search Results</h2>

      <h3>Customers</h3>
      <div ng-show="errorCustomerSearchResults" class="alert alert-danger">{{errorMessageCustomerSearchResults}}</div>
      <div ng-repeat="customers in searchResults.users">
        <p class="in-line_add">{{customers.firstName}}  {{customers.lastName}}</p>
        <a ng-href="/editCustomer" ng-click="getCustomerData(customers.userId)"><button type="submit" class="btn btn-default">Edit</button></a>
      </div>

    </div>

    <br>
    <button type="submit" class="btn btn-primary" ng-click="getCustomerMailingList()">Generate Customer Mailing List</button>
    <h3>Customer Mailing List</h3>
    <div ng-repeat="customerEmails in customerMailingList">
      <p>{{customerEmails.email}}</p>
    </div>

  </div>

</div>
