  <div class="jumbotron text-center">

  <h2>Page</h2>
  <br>
  <p>{{storage.group.groupName}}'s Page</p>
  <div ng-show="isGroupOwner()">
    <a ng-href="/editGroup/{{storage.group.groupId}}" ng-click="getGroupPage(storage.group)"><button class="btn btn-primary">Edit Group</button></a>
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <label for="newStatus">What's on your mind?</label>
    <textarea class="mdl-textfield__input" type="text" ng-model="newGroupStatus"></textarea>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="postGroupStatus()">
    Post
  </button>

  <div class="post_card_wide mdl-card mdl-shadow--2dp" ng-repeat="posts in storage.groupPage.data.reverse" ng-init="post_Id=posts.postId; postIndex=$index; commentedBy(post_Id)">

  <div ng-if="isMyPost(postIndex) || isGroupOwner()">
    <div class="btn-group">
     <button ng-show="!postEditPressed" type="button" class="btn btn-warning" ng-click="postEditPressed=!postEditPressed" ng-init="postEditPressed=false">Edit</button>
     <button ng-show="postEditPressed" type="button" class="btn btn-success" ng-click="updateStatus(editStatus, post_Id, 'groupPage'); postEditPressed=!postEditPressed">Submit</button>
     <button type="button" class="btn btn-danger" ng-click="deleteGroupPost(post_Id)">DELETE</button>
    </div>

    <div ng-show="postEditPressed" class="mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input" type="text" ng-model="editStatus" ng-init="editStatus=posts.content"></textarea>
    </div>
  </div>

    <div class="mdl-card__title">
      <h2 for="posted_By" class="postedBy" ng-model="posted_By[postIndex]" ng-init="postedBy(postIndex, posts.postId)">
        {{posted_By[postIndex]}}: </h2>
      </div>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{posts.content}}</h2>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect like_button" ng-click="likesPost(posts.postId, 'groupPage'); 
      postLiked=!postLiked">
      <i class="material-icons" ng-class="{'active_liketbn': postLiked}" ng-init="postLiked=checkLikesPost(posts.postId, 'groupPage')">thumb_up</i>
      <span>{{posts.likes}}</span>
    </button>

    <div class="mdl-card__supporting-text">
      <div class="comment_card_wide mdl-card mdl-shadow--2dp" ng-repeat="comment in posts.comments" ng-init="comment_Id=comment.commentId; commentIndex=$index">

        <div ng-if="isGroupOwner() || isMyComment(post_Id,comment_Id)">
          <button ng-show="!commentEditPressed" type="button" class="btn btn-warning" ng-click="commentEditPressed=!commentEditPressed" ng-init="commentEditPressed=false">Edit</button>
          <button ng-show="commentEditPressed" type="button" class="btn btn-success" ng-click="updateComment(editComment, comment.commentId, 'groupPage'); commentEditPressed=!commentEditPressed">Submit</button>
          <button type="button" class="btn btn-danger" ng-click="deleteComment(comment.commentId)">DELETE</button> 
          <div ng-show="commentEditPressed" class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" ng-model="editComment" ng-init="editComment=comment.content"></textarea>
          </div>
        </div>


        <p class="commentedBy" >
          {{commented_By[post_Id][commentIndex].firstName}} {{commented_By[post_Id][commentIndex].lastName}} : </p>
          <p>{{comment.content}}<p>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect like_button" ng-click="likesComment(comment.commentId, 'groupPage'); 
            commentLiked=!commentLiked">
            <i class="material-icons" ng-class="{'active_liketbn': commentLiked}" ng-init="commentLiked=checkLikesComment(comment.commentId, 'groupPage')">thumb_up</i>
            <span>{{comment.likes}}</span>
          </button>
        </div>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <label for="newGroupComment">Post a comment (post index {{postIndex}})</label>
        <textarea class="mdl-textfield__input" type="text" ng-model="newGroupComment[$index]"></textarea>
      </div>

      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="postGroupComment($index, posts.postId)">
          Comment
        </a>
      </div>
    </div>

    <!-- show only if group owner -->
    <div ng-show="isGroupOwner()">
      <h3>Join Requests</h3>
      <p ng-repeat="joinRequests in storage.groupRequest">{{joinRequests.firstName}} {{joinRequests.lastName}}<p>
        <div ng-repeat="joinRequests in storage.groupRequest">
          <p class="in-line_add">{{joinRequests.firstName}} {{joinRequests.lastName}}</p>
          <button type="submit" class="btn btn-default" ng-click="approveJoinRequest(joinRequests.userId)">Approve</button>
        </div>
        <h3>Search for Users to Add</h3>
        <form class="navbar-form" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="groupSearch">
          </div>
          <button type="submit" class="btn btn-default" ng-click="searchAllFromGroup()">Submit</button>
        </form>
        <div ng-show="searched">
          <h3>Search Results</h3>
          <div ng-repeat="users in searchResults.users">
            <p class="in-line_add">{{users.firstName}} {{users.lastName}}</p>
            <button type="submit" class="btn btn-default" ng-click="sendGroupRequest(users.userId)">Send Group Request</button>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-default" ng-controller="UserController" ng-hide="isGroupOwner()" ng-click="leaveGroup()">Leave Group</button>

    </div>
