<div class="jumbotron cookie_body">

  <h2>{{storage.group.groupName}}</h2>
  <h3>( {{storage.group.type}} )</h3>
  <a ng-href="/groups" ng-controller="UserController" ng-click="deleteGroup(storage.group.groupId)"><button class="btn btn-primary">Delete Group</button></a>
  <br>
  <br>
  <p>Edit Group information here</p>

  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <div class="form-container">
    <form class="form">
      <div class="form-group">
        <label for="groupName">Group Name</label>
        <input type="text" id="groupName" class="form-control" ng-model="profileGroup.groupName"/>
      </div>
      <div class="form-group">
        <label for="type">Group Type</label>
        <input type="text" id="type" class="form-control" ng-model="profileGroup.type"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="updateGroup(storage.group.groupId)">Update</button>
      </div>
    </form>
  </div>

</div>
