<div class="jumbotron text-center">

  <h2>Page</h2>
  <br>
  <p>{{storage.group.groupName}}'s Page</p>
  <div ng-show="isGroupOwner()">
    <a ng-href="/editGroup/{{storage.group.groupId}}" ng-click="getGroupPage(storage.group)"><button class="btn btn-primary">Edit Group</button></a>
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <label for="newStatus">What's on your mind?</label>
    <textarea class="mdl-textfield__input" type="text" ng-model="newGroupStatus"></textarea>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="postGroupStatus()">
    Post
  </button>

  <div class="post_card_wide mdl-card mdl-shadow--2dp" ng-repeat="posts in storage.groupPage.data.finalData">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{posts.content}}</h2>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored like_button">
      <i class="material-icons">thumb_up</i>
    </button>

    <div class="mdl-card__supporting-text">
      <div class="comment_card_wide mdl-card mdl-shadow--2dp" ng-repeat="comment in posts.comments">
        <p>{{comment.content}}<p>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored like_button">
          <i class="material-icons">thumb_up</i>
        </button>
      </div>
    </div>

    <div class="mdl-textfield mdl-js-textfield">
      <label for="newGroupComment">Post a comment (post index {{$index}})</label>
      <textarea class="mdl-textfield__input" type="text" ng-model="newGroupComment[$index]"></textarea>
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="postGroupComment($index, posts.postId)">
      Comment
      </a>
    </div>
  </div>

  <!-- show only if group owner -->
  <div ng-show="isGroupOwner()">
    <h3>Join Requests</h3>
    <p ng-repeat="joinRequests in storage.groupRequest">{{joinRequests.firstName}} {{joinRequests.lastName}}<p>
    <div ng-repeat="joinRequests in storage.groupRequest">
      <p class="in-line_add">{{joinRequests.firstName}} {{joinRequests.lastName}}</p>
      <button type="submit" class="btn btn-default" ng-click="approveJoinRequest(joinRequests.userId)">Approve</button>
    </div>
    <h3>Search for Users to Add</h3>
    <form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="groupSearch">
      </div>
      <button type="submit" class="btn btn-default" ng-click="searchAllFromGroup()">Submit</button>
    </form>
    <div ng-show="searched">
      <h3>Search Results</h3>
      <div ng-repeat="users in searchResults.users">
        <p class="in-line_add">{{users.firstName}} {{users.lastName}}</p>
        <button type="submit" class="btn btn-default" ng-click="sendGroupRequest(users.userId)">Send Group Request</button>
      </div>
  </div>

</div>
