<div class="jumbotron">
  <div class= "cookie_body">
    <h2>Welcome to CookieBook</h2>
    <br>

    <p>Search for Groups and Users</p>

    <form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="homeSearch">
      </div>
      <button type="submit" class="btn btn-default" ng-click="searchAll()">Submit</button>
    </form>

    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <div ng-show="searched">
      <h2>Search Results</h2>

      <h3>Users</h3>
      <div ng-show="errorUserSearch" class="alert alert-danger">{{errorUserSearchMessage}}</div>
      <div ng-repeat="users in searchResults.users">
        <p class="in-line_add">{{users.firstName}} {{users.lastName}}</p>
        <button type="submit" class="btn btn-default" ng-click="sendFriendRequest(users.userId)">Add</button>
        <a ng-href="/createMessage/{{users.userId}}" ng-click="createMessage(users)"><button type="submit" class="btn btn-default">Message</button></a>
      </div>

      <h3>Groups</h3>
      <div ng-show="errorGroupSearch" class="alert alert-danger">{{errorGroupSearchMessage}}</div>
      <div ng-repeat="groups in searchResults.groups">
        <p class="in-line_add">{{groups.groupName}} ({{groups.type}})</p>
        <button type="submit" class="btn btn-default" ng-click="joinGroupRequest(groups.groupId)">Join</button>
      </div>
    </div>
  </div>

</div>
