<div class="jumbotron cookie_body">

  <h2>Welcome {{storage.name}}</h2>
  <br>
  <p>Edit your information here</p>

  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <div class="form-container">
    <form class="form">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" class="form-control" ng-model="profilePerson.firstName"/>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" class="form-control" ng-model="profilePerson.lastName"/>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" class="form-control" ng-model="profilePerson.address"/>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" class="form-control" ng-model="profilePerson.city"/>
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" id="state" class="form-control" ng-model="profilePerson.state"/>
      </div>
      <div class="form-group">
        <label for="zipcode">Zipcode</label>
        <input type="text" id="zipcode" class="form-control" ng-model="profilePerson.zipcode"/>
      </div>
      <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" id="telephone" class="form-control" ng-model="profilePerson.telephone"/>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" ng-model="profileUser.email"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ng-model="profileUser.password"/>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" class="form-control" ng-model="profileUser.confirmPassword"/>
      </div>
      <div class="form-group">
        <label for="adPreferences">Ad Preferences</label>
        <input type="text" id="adPreferences" class="form-control" ng-model="profileUser.adPreferences"/>
      </div>
      <div class="form-group">
        <label for="creditCard">Credit Card</label>
        <input type="text" id="creditCard" class="form-control" ng-model="profilePerson.creditCard"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="updateProfile()">Update</button>
      </div>
    </form>
  </div>

  <h3>Bank Accounts</h3>

  <div ng-repeat="bank in storage.user.bankAccounts">
    <p class="in-line_add">{{bank.accountNumber}}</p>
    <button type="submit" class="btn btn-default" ng-click="deleteBankAccount(bank)">Delete</button>
  </div>

  <br>
  <div class="form-container">
    <form class="form">
      <div class= "form-group">
        <label for="bankAccount">Bank Account</label>
        <input type="number" id="bankAccount" class="form-control" ng-model="newBankAccount" required/>
      </div>
      <div class ="form-group">
        <button type="submit" class="btn btn-primary" ng-click="addBankAccount()">Add</button>
      </div>
    </form>
  </div>

</div>