<div class="jumbotron">
  <div class= "cookie_body">
    <h2>Sales Page</h2>
    <br>

    <h3>Choose month for report</h3>
    <select ng-model="chosenMonth">
      <option value="">Select Month</option>
      <option value=1>January</option>
      <option value=2>February</option>
      <option value=3>March</option>
      <option value=4>April</option>
      <option value=5>May</option>
      <option value=6>June</option>
      <option value=7>July</option>
      <option value=8>August</option>
      <option value=9>September</option>
      <option value=10>October</option>
      <option value=11>November</option>
      <option value=12>December</option>
    </select>
    <button type="submit" class="btn btn-primary" ng-click="loadMonthlyReport()">Update</button>

    <h3>Monthly Report</h3>
    <div ng-repeat="allSales in monthlyReport">
      <p>{{allSales.accountNumber}} purchased {{allSales.numberOfUnits}} {{allSales.itemName}} from {{allSales.company}} for ${{allSales.unitPrice}} each at {{allSales.dateTimeSold}}</p>
    </div>
    <br>

    <h3>Company Report</h3>
    <form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchCompanyName">
      </div>
      <button type="submit" class="btn btn-default" ng-click="companySearch()">Search</button>
    </form>

    <div ng-show="searchedCompany">
      <h3>Search Results for Company</h3>
      <div ng-repeat="foundAds in companyAds">
        <p>{{foundAds.company}} sells {{foundAds.itemName}} ({{foundAds.adType}}) for ${{foundAds.unitPrice}} each (Stock: {{foundAds.availableUnits}})</p>
      </div>
    </div>


    <br>
    <h3>Transaction Report by name</h3>
    <form class="navbar-form" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchField">
      </div>
      <button type="submit" class="btn btn-default" ng-click="salesSearch()">Search</button>
    </form>

    <div ng-show="searchedSales">
      <h3>Search Results for Items</h3>
      <div ng-repeat="items in salesSearchItem">
        <p>{{items.accountNumber}} purchased {{items.numberOfUnits}} {{items.itemName}} from {{items.company}} for ${{items.unitPrice}} each at {{items.dateTimeSold}}</p>
      </div>
      <br>
      <h3>Search Results for Users</h3>
      <div ng-repeat="users in salesSearchUser">
        <p>{{users.firstName}} {{users.lastName}} used {{users.accountNumber}} to purchase {{users.numberOfUnits}} {{users.itemName}} from {{users.company}} for ${{users.unitPrice}} each at {{users.dateTimeSold}}</p>
      </div>
    </div>

    <br>
    <h3>List of all advertisements</h3>
    <div ng-repeat="allAds in storage.manager.ads">
      <p class="in-line_add">{{allAds.itemName}} ({{allAds.adType}}) by {{allAds.company}}</p>
    </div>

  </div>
</div>