<div class="jumbotron text-center">
<p>{{ user.firstName }}</p>

  <h2>Sign Up</h2>
  <br>

  <div class="form-container">
    <form method="post">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" class="form-control" ng-model="user.firstName"/>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" class="form-control" ng-model="user.lastName"/>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" ng-model="user.email"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ng-model="user.password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" ng-click="signUp(user)">Sign Up</button>
      </div>
    </form>
  </div>

  <p>{{ user.response }}</p>
</div>